<ion-header>
  <ion-toolbar>
    <ion-title>Niveles de medición de variables.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <h2 font="time new roman"><b>Nominal</b></h2>
  <p style="color:#004d1a">Esta escala utiliza para clasificar a la población en diferentes categorías, en las cuales
    no existe una forma particular para ordenar las etiquetas.</p><br>

  <h2 font="time new roman"><b>Ordinal</b></h2>
  <p style="color:#004d1a">La escala ordinal se caracteriza porque las modalidades que integran a la misma tienen un orden entre
    ellas. Se distingue porque no se define la distancia entre las observaciones.</p><br>
  

  <h2 font="time new roman"><b></b>De intervalo</h2>
  <p style="color:#004d1a">Esta escala, además de clasificar y ordenar, establece la proporción o la distancia entre dos intervalos
    contiguos. Requiere una unidad de medida y un punto cero arbitrario (no necesariamente el cero
    absoluto).</p><br>

  <h2 font="time new roman"><b>De razón</b></h2>
  <p style="color:#004d1a">Este tipo de escala clasifica, ordena, establece la proporción o distancia entre dos intervalos contiguos
    y agrega el cero absoluto; además son permisibles las operaciones aritméticas (suma, resta,
    multiplicación y división) e implica las relaciones de equivalencia (mayor que, menor que, y
    equivalente).</p><br>
</ion-content>
