<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Antecedentes históricos.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 font="time new roamn"></h2>
  <p style="color:#b30000">La palabra estadística se origina, en las técnicas de recolección, organización, conservación, y
tratamiento de los datos propios de un estado, con que los antiguos gobernantes controlaban sus
súbditos y dominios económicos. Estas técnicas evolucionaron a la par con el desarrollo de las
matemáticas, utilizando sus herramientas en el proceso del análisis e interpretación de la información.</p>
</ion-content>
