<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title >
      Definición de Estadística
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
 <h2 ><b>Campo de estudio.</b></h2>
 <P >La estadística juega un papel fundamental en las sociedades actuales en las que se
  producen y utilizan grandes cantidades de información, en este sentido, tiene que ver
  con las formas en que se recogen, organizan y comunican conjuntos de datos y con
  la manera en que éstos se analizan para hacer inferencias y predicciones para la toma
  de decisiones.</P><br>
  <ion-icon name="analytics-outline" ></ion-icon><br>
 
   <ion-button color="secondary" shape="round" routerLink="../tab2">Historia</ion-button><br>
   <ion-button color="secondary" shape="round" routerLink="../tab3">Conceptos</ion-button><br>
   <ion-button color="secondary" shape="round" routerLink="../tab4">Entrar</ion-button>
</ion-content>
