<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Definición de Estadística
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <h2 font="time new roman"><b>Campo de estudio.</b></h2>
 <P >La estadística juega un papel fundamental en las sociedades actuales en las que se
  producen y utilizan grandes cantidades de información, en este sentido, tiene que ver
  con las formas en que se recogen, organizan y comunican conjuntos de datos y con
  la manera en que éstos se analizan para hacer inferencias y predicciones para la toma
  de decisiones.</P>
  <ion-icon name="analytics-outline"></ion-icon>
 
</ion-content>
