<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Población, muestra y tipos de variables.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="medium">
  <H2 ><b>Población</b></H2>
  <p >La población o Universo es todo conjunto de personas, cosas, objetos, etc., con
    ciertas características comunes que puede ser finita o infinita.</p> <br>
  <H2 ><b>Muestra</b></H2>
    <p  >La Muestra es toda porción de elementos tomada de una población, entre más grande
      sea la muestra, será más representativa de la población.</p><br>
   <h2 ><b>Tipos de variables</b></h2>
   <p >Una Variable se puede representar con un símbolo tal como x, y, a, b, que puede tomar un valor
    cualquiera. Si esta variable solamente toma un valor, se le llama Constante.</p>

    <ion-button color="secondary" shape="round" routerLink="../tab1">Definicion</ion-button><br>
   <ion-button color="secondary" shape="round" routerLink="../tab2">Historia</ion-button><br>
   <ion-button color="secondary" shape="round" routerLink="../tab4">Entrar</ion-button>
</ion-content>
