<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Población, muestra y tipos de variables.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <H2 font="time new roman"><b>Población</b></H2>
  <p style="color:#b30000">La población o Universo es todo conjunto de personas, cosas, objetos, etc., con
    ciertas características comunes que puede ser finita o infinita.</p> <br>
  <H2 font="time new roman"><b>Muestra</b></H2>
    <p style="color:#b30000" >La Muestra es toda porción de elementos tomada de una población, entre más grande
      sea la muestra, será más representativa de la población.</p><br>
   <h2 font="time new roman"><b>Tipos de variables</b></h2>
   <p style="color:#b30000">Una Variable se puede representar con un símbolo tal como x, y, a, b, que puede tomar un valor
    cualquiera. Si esta variable solamente toma un valor, se le llama Constante.</p>
</ion-content>
